@model CrudApplication2.Models.StateModel
@{
    ViewData["Title"] = "Details";
}



<h1>Details</h1>



<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StateId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>





